
$red: #ff1e00;
$header: #4422ff;
$backgroundColor: #060912;
$secondaryBackgroundColor: #fff;

$color1: #303030;
$color2: #f4f4f4;
$color3: #f4f4f4;
$color4: #bc763c;
$color5: #cc8361;

h1, h2 {
  color: #555;
}

.fade-in {
  opacity: 0;
  transition: .5s all;

  &.fade-out {
    opacity: 1;
  }
}

.image-container {

  margin: 0 8px 8px 0;
  display: block;
  border-radius: 20px;
  overflow: hidden;
  width: 240px;
  height: 240px;
  position: relative;
  float: right;

  .image {
    max-width: 100%;
    max-height: 100%;
    cursor: pointer;
  }

}
