@import "src/app/general.scss";

:host {

  img {
    position: absolute;
  }

  .container {
    position: relative;

    .header {
      font-size: 28px;
      height: 200px;
      color: $red;
      background-color: white;
      text-align: center;
      background-image: url('../../assets/header.png');

      &.mobile-header {
        margin-left: -16px;
        margin-right: -16px;
      }
    }

    .slide-menu {

      color: white;
      background-color: $secondaryBackgroundColor;
      z-index: 2;
      position: absolute;
      overflow: hidden;
      text-align: center;
      transition: all .5s;
      min-height: 100vh;
      width: 100%;
      // border-right: 1px solid #aaaaaa;
      border-left: 1px solid #aaaaaa;


      .slide-menu-box {

        // top: 200px;
        position: relative;

        .slide-menu-item {
          top: 200px;
          color: #555;
          font-size: 20px;
          font-weight: bold;
          padding: 16px 0;
          width: 100%;
          border-bottom: 1px solid $red;
          border-bottom-left-radius: 20px;
          border-bottom-right-radius: 20px;
          transition: .5s all;
        }
        .slide-menu-item:hover {
          cursor: pointer;
          border-bottom: 1px solid $red;
          border-bottom-width: 8px;
          //background-color: rgba(255, 34, 68, 0.5);
        }
      }
    }

    .content {
      position: relative;
      //left: 200px;
      min-height: 100vh;
      padding: 16px;
      background-color: $secondaryBackgroundColor;

      &.mobile {
        left: 0;
      }
    }
  }
}
