/* You can add global styles to this file, and also import other style files */
body {
  background-color: #060912;
  overflow: hidden;
  background: url('https://static.vecteezy.com/system/resources/previews/000/094/726/original/shiny-stars-blue-background-vector.jpg');
  background-repeat: repeat-x;
    position: relative;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.75);
}
